header {
    height: 100vh;
    width: 260px;
    background-color: #111418;
    position: fixed;
    box-shadow: 5px 0px 10px #122871;
    z-index: 5;
}

.top-menu {
	width: 100%;
	display: flex;
    flex-flow: row wrap;
	justify-content: center;
	padding: 15px;
}


.img-menu {
	display: block;
	border-radius: 50%;
	width: 190px;
	height: 190px;
	border: 7px solid #343a40;
}

.name-menu {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

.list-menu {
	display: flex;
    align-content: center;
    width: 100%;
    flex-flow: column;
}

.list-menu li {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-bottom: 25px;
	font-size: 16px;
	letter-spacing: 1px;
}

.list-menu a:hover {
	color: #877ef2;
	transition: ease .3s color;
}

.header-nav {
	margin-top: 25%;
}

.selected {
	color: #877ef2;
}

.bottom-menu {
	height: 100px;
	background-color: black;
	height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-media a {
  	height: 32px;
  	width: 32px;
}

.container {
	background-color: #877ef2;
    height: 100vh;
	width: calc(100% - 260px);
	position: fixed;
	right: 0;
}

.section {
    background-color: #ffffff;
	width: 85%;
	height: 525px;
    max-width: 1240px;
    top: 50%;
	margin: 0 auto;
	transform: translateY(-50%);
    border-radius: 10px;
	position: relative;
	overflow: auto;
    box-shadow: 8px 8px #000;
    border: 3px solid #000;
}

.section p {
	color: black;
}

.info {
	font-family: 'Open Sans', sans-serif;
	font-size: clamp(0.5em, 1em + 3vw, 1.5em);
	text-align: center;
	text-indent: 30px;
	line-height: 30px;
	align-items: center;
	/* padding-right: 25px; */
}

.info1 {
	margin-top: 60px;
}

.info2 {
	margin-top: 35px;
	padding-bottom: 50px;
}

.home-bem-vindo {
	text-align: center;
	font-size: 32px;
	margin-top: 40px;
	font-weight: bold;
}

.home-footer {
	font-size: 12px;
	text-align: right;
	margin-bottom: 0;
}

.container > div {
	display: none;
}

.container .show {
	display: block;
	min-height: 525px;
}

/*Escolaridade*/

.escolaridade {
	font-family: 'Open Sans', sans-serif;
}

.content-escolaridade {
	display: flex;
	padding: 10px;
	justify-content: space-around;
	flex-flow: row wrap;
}

.instituicao {
	width: 500px;
	margin-bottom: 45px;
	padding: 10px;
	line-height: 18px;
}

.foto-instituicao {
	width: 190px;
	height: 185px;
	border-radius: 50%;
	border: 4px solid #000;
	margin-right: 10px;
	margin-bottom: 10px;
}

.conteudo-instituicao {
	display: inline;
}

.ano-instituicao {
	float: right;
	font-size: 32px;
	margin: 15px;
	margin-top: 40px;
}

.escolaridade li {
	color: black;
}

/*portifolio*/

.content {
	align-items: center;
	display: inline-block;
	justify-content: center;
	padding-top: 20px;
	padding-left: 45px;
	padding-bottom: 45px;
	font-family: 'Open Sans', sans-serif;
}

.card {
	background-color: #fff;
    border-radius: 10px;
	box-shadow: 0px 2px 23px #2b1f6f;
	width: 400px;
}

p.second-text {
    padding-top: 10px;
}



.top-card {
	padding: 20px;
	padding-top: 10px;
    margin-top: 20px;
}

.bottom-card {
	padding: 20px;
	padding-left: 70px;
}

h2.title {
    font-size: 28px;
    color: #1c078c;
}

.media-card-index { 
	background: url("../resources/logos/index_logo.jpg") center/cover;
	height: 240px;
	width: 100%;
}

.media-card-carvalho {
	background: url("../resources/logos/carvalho_imagem.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-germinare {
	background: url("../resources/logos/germinare_imagem.jpg") center/cover;
	height: 275px;
	width: 100%;
}

.media-card-head {
	background: url("../resources/logos/head_mind.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-coruja {
	background: url("../resources/logos/hora_da_coruja3.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-pousada {
	background: url("../resources/logos/hospedaria_do_quadrado.jpg") center/cover;
	height: 229px;
	width: 100%;
}

.media-card-restaurante {
	background: url("../resources/logos/logo\ Dita\ Cabrita.jpg") center/cover;
	height: 106px;
	width: 100%;
}

.media-card-fonte {
	background: url("../resources/logos/logo_fonte7.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-yellow {
	background: url("../resources/logos/logo_yellow.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-painel {
	background: url("../resources/logos/painel_da_pintura_imagem.jpg") center/cover;
	height: 272px;
	width: 100%;
}

.media-card-sitio {
	background: url("../resources/logos/sitio_da_nona_imagem.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-twins {
	background: url("../resources/logos/the_twins_imagem.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-pianos {
	background: url("../resources/logos/pianos_imagem.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-turismo {
	background: url("../resources/logos/turismo\ copiar.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-rebua {
	background: url("../resources/logos/Untitled-6.jpg") center/cover;
	height: 203px;
	width: 100%;
}

.media-card-vela {
	background: url("../resources/logos/vela.jpg") center/cover;
	height: 273px;
	width: 100%;
}

.media-card-111 {
	background: url("../resources/logos/111.jpg") center/cover;
	height: 274px;
	width: 48%;
	margin: 0 auto;
}

.media-card-222 {
	background: url("../resources/logos/222.jpg") center/cover;
	height: 274px;
	width: 48%;
	margin: 0 auto;
}

.media-card-333 {
	background: url("../resources/logos/333.jpg") center/cover;
	height: 274px;
	width: 48%;
	margin: 0 auto;
}

.media-card-444 {
	background: url("../resources/logos/444.jpg") center/cover;
	height: 274px;
	width: 48%;
	margin: 0 auto;
}

.media-card-555 {
	background: url("../resources/logos/555.jpg") center/cover;
	height: 274px;
	width: 48%;
	margin: 0 auto;
}

.media-card-666 {
	background: url("../resources/logos/666.jpg") center/cover;
	height: 245px;
	width: 84%;
	margin: 0 auto;
}

.media-card-777 {
	background: url("../resources/logos/777.jpg") center/cover;
	height: 274px;
	width: 100%;
	margin: 0 auto;
}

.media-card-888 {
	background: url("../resources/logos/888.jpg") center/cover;
	height: 274px;
	width: 48%;
	margin: 0 auto;
}

/*Página contato*/

.contato {
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #e73c3c, #23A6D5, #23D5AB);
	position: relative;
}

.container-contato {
	display: block;
	height: 60px;
	width: 60px;
	margin: 0 auto;
	margin-bottom: 25px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-out;
}

.h1-contato {
	font-family: "Lato", Arial, sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 3px solid #fff;
	width: 435px;
	margin: 0 auto;
	padding: 1rem 2rem;
	margin-top: 30px;
}

.wrapper {
	width: 100%;
	padding-top: 40px;
}

.wrapper .container-contato:hover{
	width: 250px;
}

.wrapper .button .icon {
	display: inline-block;
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 50px;
	line-height: 60px;
}

.container-contato:hover .linkedin{background: #0e76a8;}
.container-contato:hover .github{background: #323131;}
.container-contato:hover .whatsapp{background: #34af23;}
.container-contato:hover .yahoo{background: #720e9e;}

.wrapper .button .icon i {
	font-size: 25px;
	line-height: 60px;
	transition: all 0.3s ease-out;
}

.container-contato:hover .span-linkedin{color: #0e76a8;}
.container-contato:hover .span-github{color: #323131;}
.container-contato:hover .span-whatsapp{color: #34af23;}
.container-contato:hover .span-yahoo{color: #720e9e;}

.span-wpp {
	color: black;
}

.contato {
	box-shadow: 8px 8px black;
}

.section > h1 {
	color: white;
}

button {
	display: block;
	margin: 0 auto;
	background-color: transparent;
	border: none;
}

button a {
	font-size: 1.1rem;
	background-color: #877ef2;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid #877ef2;
	transition: all 0.35s ease-in-out;
	font-weight: bold;
}

button a:hover {
	background-color: #fff;
	color: #877ef2;
}

@media screen and (max-width: 880px) {
	header {
		width: 200px;
	}

	.container {
		width: calc(100% - 200px);
	}

	.section p {
		font-size: 17px;
	}

	.section {
		padding: 0px 15px 15px;
	}
}

@media screen and (max-width: 768px) {
	header {
		height: auto;
		width: 100vw;
	}

	.top-menu {
		height: 95px;
		width: 240px;
		float: left;
		align-items: center;
		justify-content: space-around;
	}

	.img-menu {
		width: 60px;
		height: 60px;
		border-width: 3px;
	}

	.name-menu {
		width: auto;
		margin-top: 0;
	}

	.header-nav {
		width: calc(100% - 240px);
		float: left;
		margin-top: 40px;
	}

	.list-menu {
		flex-flow: row;
		justify-content: space-around;	
	}

	.container {
		width: 100%;
		padding-top: 90px;
	}
}

@media screen and (max-width: 560px) {
	.img-menu {
		display: none;
	}

	.top-menu{
		width: 95px;
	} 

	.header-nav {
		width: calc(100% - 95px);
	}

	.name-menu {
		font-size: 15px;
	}
}